
snippet class "local class = {} setmetatable ..."
local ${1:class} = {}
${1}.__index = setmetatable(${1}, ${2:SuperClass})
endsnippet

snippet for "for i = begin, end, step ..."
for ${1:i} = ${2:BEGIN}, ${3:END} do
	${VISUAL}$0
end
endsnippet
