
snippet fun "fun! ... endf" b
fun! ${1:function_name}($2)
	${3:" code}
endf
endsnippet

snippet fdoc "Document for this file" b
" =============================================================================
" Filename:    `!v expand('%')`
" Author:      ${1:your name}
" Date:        `!v strftime('%Y-%m-%d')`
" Description: ${3:...}
" =============================================================================
endsnippet
